<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal" package="com.propertycross.crosslight.android">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
	<application android:label="PropertyCross Intersoft" android:theme="@android:style/Theme.Holo.Light">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:name="crosslightbusinessapp.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="crosslightbusinessapp.android.Android.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.GET_TASKS" />
</manifest>