html {
  background: #fff;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.header-bar {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

/* Utilities */

.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fill-content {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

/* Home Page */
.information-text {
    padding: 10px;
    text-align: center;
}

.search-bar {
    border: 1px solid #C8C8C8;
    border-width: 1px 0;
    padding: 10px;
}

/* Listing Page */
.property-listing {
    border-bottom: 1px solid #DDD;
    padding: 10px 10px 10px 80px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.property-listing-price {
    margin: 0;
    font-size: 22px;
}

.property-listing-description {
    margin: 5px 0;
    color: #666;
}

.property-image {
    pointer-events: none;
}

/* Property Details Page */
.detailed-price {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding: 10px;
}

.detailed-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
}

.detailed-text {
    padding: 10px;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
