<div data-options="dxView : { name: 'Faves', title: 'Favorites' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div id="favoritesList" data-bind="dxList: {
        	dataSource: PropertyFinder.faves ,
        	onItemClick: handleItemClick,
        	noDataText: 'You have not added any properties to your favorites yet'
        }">
            <div data-bind="template: { name: 'list-template' }" class="property-item" data-options="dxTemplate : { name: 'item' } "></div>
        </div>
    </div>
</div>