<?xml version='1.0' encoding='utf-8'?>
<widget id="com.propertycross.ionic" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PropertyCross</name>
    <description>
        An implementation of the PropertyCross app using the Ionic framework (http://ionicframework.com).
    </description>
    <author email="godds@scottlogic.com" href="http://www.scottlogic.com/blog/godds/">
        Graham Odds
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
