---
layout: default
---
<header class="strip">
  <a href="..">
    <h3>
      Property<i>Cross</i><small> | Helping you <b>select</b> a cross-platform mobile framework</small>
    </h3>
  </a>
  <hr/>
  <h1>
    {{ page.title }} <img src="{{ site.baseurl }}/framework-icons/{{ page.framework }}-complete.png"/>
  </h1>
</header>

<div class="row">
  <div class="span7">
    <h4>
      Overview
    </h4>

    {{ content }}

    <p class="btns">
      <a href="{{ site.githuburl }}/archive/master.zip" class="btn btn-large btn-primary" type="button">Download the project</a>
      <a href="{{ site.githuburl }}/" class="btn btn-large btn-primary" type="button">View project on GitHub</a>
    </p>
  </div>
  {% include pie.html %}
</div>

<div class="row">
  <div class="span12">
    <hr/>
  </div>
</div>

{% for platform_hash in page.platforms %}
  {% for platform in platform_hash %}
    {% include screenshots.html %}
  {% endfor %}
{% endfor %}

{% if page.contributors %}
<footer>
  <div class="row">
    <div class="span12">
      Framework example contributed by
      {% for contributor in page.contributors %}
        <a href="https://github.com/{{ contributor.username }}/">
          {% comment %} keep on the same line to avoid extra whitespace {% endcomment %}
          {% if contributor.hash %}<img src="http://www.gravatar.com/avatar/{{ contributor.hash }}"/>{% endif %}{{ contributor.name }}
        </a>
        {% unless forloop.last %}and{% endunless %}
      {% endfor %}
    </div>
  </div>
</footer>

<div class="row">
  <div class="span12">
    <hr/>
  </div>
</div>

{% endif %}

<div class="others">
  <div class="row">
    <div class="span12">
      <h4>Other Frameworks</h4>
    </div>
  </div>
  <div class="row">
    {% for post in site.posts reversed %}
    <div class="span3">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/framework-icons/{{ post.framework }}-complete.png"/>{{ post.title }}
      </a>
    </div>
    {% endfor %}
  </div>
</div>
