[submodule "senchatouch2/build/package"]
	path = senchatouch2/build/package
	url = https://github.com/chrisprice/PropertyCross-ST2
[submodule "jquerymobile/build/package"]
	path = jquerymobile/build/package
	url = https://github.com/chrisprice/PropertyCross-jQM.git
[submodule "jquerymobile/build/package-windowsphone"]
	path = jquerymobile/build/package-windowsphone
	url = https://github.com/chrisprice/PropertyCross-jQM-WindowsPhone.git
[submodule "website/twitter-bootstrap"]
	path = website/twitter-bootstrap
	url = https://github.com/twitter/bootstrap.git
