[submodule "enyo/src/enyo"]
	path = enyo/src/enyo
	url = https://github.com/enyojs/enyo.git
[submodule "enyo/src/lib/onyx"]
	path = enyo/src/lib/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "enyo/src/lib/layout"]
	path = enyo/src/lib/layout
	url = https://github.com/enyojs/layout.git
