*.DS_Store
/Xamarin/WindowsPhone/PropertyFinder.suo
/Xamarin/iPhone/lib/NewtonsoftJson/Newtonsoft.Json/bin
/Xamarin/WindowsPhone/packages/SilverlightToolkitWP.4.2012.6.25
/Xamarin/WindowsPhone/packages/Newtonsoft.Json.4.5.9
/Xamarin/WindowsPhone/PropertyFinder/obj
/Xamarin/WindowsPhone/PropertyFinder/obj
/Xamarin/WindowsPhone/PropertyFinder/Bin
/Native/WindowsPhone/PropertyFinder/obj
/Native/WindowsPhone/PropertyFinder/Bin
*.xcuserstate
*.xcbkptlist
.*

/Xamarin/WindowsPhone/packages/SilverlightToolkitWP.4.2012.10.9
/Xamarin/WindowsPhone/packages/Newtonsoft.Json.4.5.10
/Native/WindowsPhone/packages/SilverlightToolkitWP.4.2012.10.9
/Native/WindowsPhone/packages/Newtonsoft.Json.4.5.10
/Xamarin/WindowsPhone/PropertyFinder/Toolkit.Content
/Native/WindowsPhone/PropertyFinder/Toolkit.Content
/Native/WindowsPhone/*.suo
/Native/WindowsPhone/PropertyCross/PropertyCross.csproj.user
/xamarin/android/PropertyCross/Bin
/xamarin/android/PropertyCross/obj
/xamarin/android/PropertyCross.suo
/xamarin/android/PropertyCross.userprefs

node_modules