<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/" data-theme="b">

  <div data-role="header" data-position="inline" data-theme="b">
    <h1> <span class='number_of_li'> </span> of  <%= @params['total_results'] %> matches</h1>
    <a href="" class="ui-btn-left" data-icon="arrow-l" data-rel="back">Back</a>
  </div>

  <div data-role="content" data-theme="c">
   
  </div>
  
</div>