
/* Navigation bar tweeks */

#afui .header h1 {
    left: 22.5%;
    width: 55%;
}

#afui .header .button-right {
    float: right;
}

/* Property search page */

#recentSearchLabel, #locListLabel, #errorMessage  {
    margin-top: 10px;
    display: none;
}

#recentSearches li span.totalResults {
    float: right;
    margin-right: 35px;
    font-size: 12px;
    background: #CCC;
    line-height: 12px;
    padding: 4px;
    color: black;
    border-radius: 4px;
}
#recentSearches li span.recentSearchLocation {
    width: calc(100% - 90px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

#loadingSpinner {
    float: right;
    display: none;
}

#errorMessage {
    color: red;
}

/* Property results page */

#results a {
    padding: 3px;
    display: block;
    color: inherit;
    text-decoration: none;
    min-height: 66px;
}
#results a img {
    float: left;
    margin-right: 5px
}

/* Property details page */

#property img {
    width: 100%;
}

#property h3, #property div {
    margin: 5px;
}