<fa-app class="full-screen">
  <fa-header-footer-layout>
    <fa-view fa-size="[undefined, 50]">
      <fa-surface class="header-bar" fa-background-color="'rgb(0,0,0)'" fa-color="'rgb(255,255,255)'">
        Property Details
      </fa-surface>
      <fa-modifier fa-translate="[-10, 0, 0]" fa-origin="[1, 0.5]">
        <fa-surface fa-size="[50, 30]" fa-color="'white'">
          <button ng-click="property.addToFavourites()" class="fill-content">Faves</button>
        </fa-surface>
      </fa-modifier>
    </fa-view>
    <fa-view>

      <fa-modifier fa-size="[undefined, 44]">
        <fa-surface class="detailed-price">
            {{property.details.price}}
        </fa-surface>
      </fa-modifier>

      <fa-modifier fa-translate="[0, 44, 0]" fa-size="[undefined, 40]">
        <fa-surface class="detailed-title">
            {{property.details.title}}
        </fa-surface>
      </fa-modifier>

      <fa-modifier fa-translate="[0, 84, 0]" fa-size="[undefined, 200]">
        <fa-modifier fa-origin="[0.5, 0.5]">
          <fa-image-surface class="property-image" fa-image-url="{{property.details.img.url}}" fa-size="{{property.details.img.size}}"></fa-image-surface>
        </fa-modifier>
      </fa-modifier>

      <fa-modifier fa-translate="[0, 284, 0]" fa-size="[undefined, 30]">
        <fa-surface class="detailed-text">
            Bathrooms:{{property.details.bathrooms}} Bedrooms:{{property.details.bedrooms}}
        </fa-surface>
      </fa-modifier>

      <fa-modifier fa-translate="[0, 314, 0]" fa-size="[undefined, 60]">
        <fa-surface class="detailed-text">
            {{property.details.summary}}
        </fa-surface>
      </fa-modifier>
    </fa-view>
  </fa-header-footer-layout>
</fa-app>
