<fa-app class="full-screen">
  <fa-header-footer-layout>
    <fa-view fa-size="[undefined, 50]">
      <fa-surface class="header-bar" fa-background-color="'rgb(0,0,0)'" fa-color="'rgb(255,255,255)'">
        Property Cross
      </fa-surface>
      <fa-modifier fa-translate="[-10, 0, 0]" fa-origin="[1, 0.5]">
        <fa-surface fa-size="[50, 30]">
          <button ui-sref="favourites" class="fill-content">Faves</button>
        </fa-surface>
      </fa-modifier>
    </fa-view>
    <fa-view>
      <fa-surface class="information-text" fa-size="[undefined, 100]">
        Use the form below to search for houses to buy. You can search by
        place-name, postcode, or click 'My location', to search in your
        current location!
      </fa-surface>

      <fa-modifier fa-translate="[0, 100, 0]">
        <fa-surface class="information-text" fa-size="[undefined, 50]">
          <input class="search-bar fill-content" placeholder="Search" type="search" name="searchtext" ng-model="search.query">
        </fa-surface>
      </fa-modifier>

      <fa-modifier fa-translate="[0, 160, 0]">
        <fa-grid-layout fa-options="ui.buttongrid">
          <fa-surface fa-size="[undefined, 50]" fa-background-color="'rgb(0,0,0)'" fa-color="'rgb(255,255,255)'">
            <button ng-click="search.basicSearch()" class="fill-content">Go</button>
          </fa-surface>
          <fa-surface fa-size="[undefined, 50]">
            <button ng-click="search.geoLocatedSearch()" class="fill-content">My Location</button>
          </fa-surface>
        </fa-grid-layout>
      </fa-modifier>

      <fa-modifier fa-translate="[0, 220, 0]">
        <fa-surface fa-size="[undefined, 150]">
          <div style="padding: 30px; background-color: #F0AD4E; color: white; margin: 10px; border-radius: 10px">
            <b style="text-align: center; width: 100%; display: block;">Placeholder for ...</b>
            <ul>
              <li>Recent Search</li>
              <li>Location Suggestion</li>
              <li>Error Message</li>
            </ul>
          </div>
        </fa-surface>
      </fa-modifier>
    </fa-view>
  </fa-header-footer-layout>
</fa-app>
