# This is the SDK version. By defining this property, we are declaring this
# folder to be an SDK distribution.
framework.name=touch
framework.version=2.3.1.410
framework.classpath=${framework.dir}/src

#------------------------------------------------------

# This is the minimum required Sencha Cmd version:
framework.cmd.minver=3.1.0.53

# This is the current version of the Sencha Cmd at the time of this SDK release:
framework.cmd.version=4.0.2.67
