// bb-crosscut
.bb-crosscut {
    background: #000;

    .x-button {
        background: transparent;
        background-image: none;
        border: 0;
        border-bottom: 1px solid #272727;
        height: 42px;

        &:before {
            display: none;
        }

        &.x-button-pressing {

        }

        &:first-child {
            border-top: 1px solid #272727;
        }
    }

    .x-button-label {
        text-align: left;
        color: #fff;
        font-size: 16px;
    }

    .x-button-icon {
        margin-right: 2px;
        margin-left: 5px;

        &:before {
            font-size: 28px;
        }
    }
}
