/*Property list item*/
.propertyListItem {
    /* Needed to clear the float associated with the property image */
    overflow: hidden;
}

.propertyListItem img {
    float: left;
    margin-right: 10px;
    height: 60px;
    width: 80px;
}
.propertyListItem h3, .propertyListItem p {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 1em;
}
.propertyListItem p {
    font-size: .9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Error message*/
#errorMessage {
    color: red;
}

/*Total results count for recent searches*/
.totalResults {
    background: #CCC;
    color: #3E3E3E;
    float: right;
    margin-right: 30px;
    padding: 0 5px;
    border-radius: 5px;
}

/*Property details*/
.propertyDetails img {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

/*Search form*/
.searchForm {
    margin-left: 3%;
    margin-right: 3%;
}

.searchForm input {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 94%;
}

.searchForm img {
    float: right;
}

/*Load more*/
#loadMore {
    border-top: 1px solid rgba(0,0,0,0.1);
}
#loadMore h3, #loadMore p {
    margin: 0;
}
#loadMore p {
    font-size: .9rem;
}

.km-android .km-view {
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.km-android .km-view-title {
    visibility: visible;
}

.km-android .km-button.isFave, .km-wp8 .km-button.isFave {
    background-color: white;
}

.km-android .km-button.isFave .km-icon, .km-wp8 .km-button.isFave .km-icon:after {
    color: black;
}

.km-ios7 .km-button.isFave .km-icon:after {
    /* Equivalent to filled in favorite font icon */
    content: "\e30c";
}
