.dx-viewport {
    width: 100%;
    height: 100%;
    position: absolute;
}

.dx-theme-win8 .split-layout {
    display: -ms-grid;
    -ms-grid-columns: 620px minmax(min-content, 1fr);
    -ms-grid-rows: 104px 1fr;
    height: 100%;    
}

.dx-theme-win8 .split-layout .load-panel.dx-loadpanel-content {
    background: transparent;
    border: none;
}

.dx-theme-win8 .split-layout .layout-header {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    padding: 60px 120px;
}

.dx-theme-win8 .split-layout .layout-header .dx-toolbar {
    margin-left: -63px;
}

.dx-theme-win8 .split-layout .layout-header .dx-toolbar-center {
    margin: 10px 0 0 70px;
    text-align: left;
}

.dx-theme-win8 .split-layout .layout-header .dx-toolbar-right {
    margin: 10px 120px 0 0;
}

.dx-theme-win8 .split-layout .left-content {
    -ms-grid-column: 1; 
    -ms-grid-row: 2;
    padding: 60px 0 0 120px;
}

.dx-theme-win8 .split-layout .right-content {
    -ms-grid-column: 2; 
    -ms-grid-row: 2;
    padding: 60px 0 0 0;
}

.dx-theme-win8 .split-layout .right-content .content {
    margin-left: 40px;
}

.dx-theme-win8 .split-layout .dx-app-bar {
    position: fixed;
    z-index: 1000;        
    width: 100%;
    bottom: -104px;
    transition: bottom .4s;
    background-color: rgba(0, 0, 0, 1);
}

.dx-theme-win8 .split-layout .dx-app-bar.dx-app-bar-visible {
    bottom: 0;
}

.dx-theme-win8 .content, .dx-theme-win8 .content>div {
    height: 100%;
    position: relative;
}

.dx-theme-win8 .have-static-appbar .left-content,
.dx-theme-win8 .have-static-appbar .right-content {
    margin-bottom: 82px;
}
