<div class="navbar-layout designer-layout" data-options="dxLayout : { name: 'designer' } ">

    <div class="xet-designer-main-slideoutview" data-bind="dxSlideOutView: { menuVisible: menuVisible, swipeEnabled: false }">

        <div class="layout-header">
            <div class="navbar-container" data-bind="dxNavBar: { focusStateEnabled: false }" data-options="dxCommandContainer: { id: 'global-navigation' }">
                <div data-options="dxTemplate: { name: 'item' }" data-bind="preventNavbarTabSelection: {}, dxAction: $data.isButton ? $data.onExecute : $root.navigateToBaseView, css: { 'virtual-toolbar-content': $data.isButton }">
                    <!-- ko if: $data.isButton -->
                    <div data-bind="dxButton: { icon: $data.icon, showText: false, onClick: $data.onExecute }"></div>
                    <!-- /ko -->
                    <!-- ko ifnot: $data.isButton -->
                    <!-- ko if: $data.listView -->
                    <span data-bind="text: $data.text" class="tab-caption"></span>
                    <div class="drop-down-icon" data-bind="preventNavbarTabSelection: {}, dxAction: $root.navigateToListView, attr: { id: 'nav-btn-' + id }"></div>
                    <div class="popup-container" data-bind="dxPopover: { width: '300px', position: { my: 'center top', at: 'left bottom', of: '#nav-btn-' + id, offset: '0 0' }, showTitle: false, contentTemplate: 'content', fullScreen: false, deferRendering: false, shading: false, closeOnOutsideClick: true, target: null }"></div>
                    <!-- /ko -->
                    <!-- ko ifnot: $data.listView -->
                    <div data-bind="dxButton: { icon: $data.icon, text: $data.text, showText: true, onClick: function() { $context.$root.navigateToView($data.id) } }"></div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div data-options="dxTemplate: { name: 'logo' }" data-bind="dxAction: $data.onExecute, attr: { title: $root.title }" class="virtual-toolbar-content logo-container">
                    <div data-bind="text: $root.title, preventNavbarTabSelection: {}" class="logo"></div>
                </div>
                <div data-options="dxTemplate: { name: 'button' }" data-bind="dxAction: $data.onExecute" class="virtual-toolbar-content">
                    <div data-bind="dxButton: $data.button, preventNavbarTabSelection: {}"></div>
                </div>
            </div>
            <div data-bind="dxToolbar: { }" data-options="dxCommandContainer : { id: 'generic-header-toolbar' }" class="header-toolbar"></div>
        </div>

        <div data-options="dxTemplate: { name: 'menu' }" class="menu-template">
            <div data-bind="dxButton: { text: 'Create Project', onClick: createProject }"></div>
            <div data-bind="dxButton: { text: 'Import OData service', onClick: importOData }"></div>
            <div data-bind="dxButton: { text: 'Import Project', onClick: importProject }"></div>
            <div class="xet-label dx-widget">PROJECTS</div>
            <div data-bind="dxList: { dataSource: navigationDataSource, onItemClick: openDesigner, showScrollbar: 'onHover', noDataText: 'No Projects Found', indicateLoading: false }">
                <div data-options="dxTemplate: { name: 'item' }" data-bind="css: { active: $data.JsonUrl === $root.currentProjectUrl }" class="navigation-item">
                    <table>
                        <tr>
                            <td>
                                <div class="xet-label dx-widget" data-bind="text: $data.Name"></div>
                            </td>
                            <!-- ko if: $data.JsonUrl === $root.currentProjectUrl -->
                            <td>
                                <button data-bind="click: $parent.exportProject">Export</button>
                            </td>
                            <td>
                                <button data-bind="click: $parent.deleteProject">Delete</button>
                            </td>
                            <!-- /ko -->
                        </tr>
                    </table>
                </div>
            </div>
            <div data-bind="dxToolbar: { }" data-options="dxCommandContainer : { id: 'generic-layout-toolbar' }" class="menu-toolbar"></div>
        </div>

        <div class="transition-frame" data-options="dxTransition: { name: 'main', animation: 'slide' }">
            <div class="transition-frame-content">
                <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content', animation: 'view-content-change' }"></div>
                <div class="layout-footer">
                    <div class="view-toolbar-bottom" data-bind="dxToolbar: { }" data-options="dxCommandContainer : { id: 'generic-view-footer' } ">
                        <div data-options="dxTemplate: { name: 'item' }">
                            <div data-bind="dxButton: $data.options, xetCurrentViewDeviceButtonHighlighter: {}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="support-center-cover" data-bind="css: supportCenterState, click: function() { supportCenterState('closed'); }"></div>
    <div class="support-center" data-bind="css: supportCenterState">
        <div class="open-button-container">
            <div class="open-button">
                <div class="left-border"></div>
                <div class="right-border"></div>
                <div class="open-section" data-bind="click: toggleSupportCenter">
                    <img src="/images/support-center-icon.png" />
                    Support Center
                </div>
                <!-- ko if: doc() -->
                <a href="javascript:void" target="_blank" data-bind="attr: { href: doc().link }, text: doc().title"></a>
                <!-- /ko -->
            </div>
        </div>
        <div class="left-column">
            <h2>Getting Started</h2>
            <p><a href="https://xenarius.net/docs/application-development.html" target="_blank">Application Development with Xenarius</a></p>
            <p><a href="https://xenarius.net/docs/getting-started.html" target="_blank">Implementing Your First Mobile Application - Text Tutorial</a></p>
        </div>
        <div class="right-column">
            <h2>Video Guide</h2>
	    <p>Learn how to create a mobile app with Xenarius.</p>
            <div class="video-links">
                <a href="https://www.youtube.com/watch?v=DPR6FutnkDI" target="_blank"><img src="/images/video-1.jpg" /><br /><span>Part 1</span></a>
                <a href="https://www.youtube.com/watch?v=tIxyLdGPxbg" target="_blank"><img src="/images/video-2.jpg" /><br /><span>Part 2</span></a>
                <a href="https://www.youtube.com/watch?v=XQW1RPAY5PA" target="_blank"><img src="/images/video-3.jpg" /><br /><span>Part 3</span></a>
                <a href="https://www.youtube.com/watch?v=1UwO8HvLdqo" target="_blank"><img src="/images/video-4.jpg" /><br /><span>Part 4</span></a>
            </div>
        </div>
        <a class="ask-button" href="mailto:help@xenarius.net">Ask</a>
        <img class="support-icon" src="/images/support-icon.png" />
        <div class="just-ask">Have specific question? Just ask us</div>
        <div class="just-ask-bg"></div>
    </div>
    
    <!-- BUTTONS -->
    <script>
        function deployPopoverNotReadyHandler(e, what) {
            if (window.ga) {
                ga("send", "event", "Buttons", "Deploy", what);
            }
            DevExpress.ui.notify({
                message: "We are sorry, you've found a feature that's not ready yet. Only Hybrid/HTML5 deploy is currently available. So far we're collecting statistics to estimate the demand for various features, which helps us implement the most popular features first. Your vote has been counted.",
                displayTime: 10000,
                closeOnClick: true,
                closeOnOutsideClick: true,
                position: {
                    of: e.element,
                    collision: "flipfit"
                }
            });
        }
    </script>
    <div class="deploy-popover" data-bind="dxPopover: AppDesigner.utils.deployPopover">
        <h3>Hybrid/HTML5 App</h3>
        <div>
            <div data-bind="dxButton: { text: 'For Debugging', onClick: function() { document.location.href = $root.jsonUrl() + '/Zip/Debug' } }"></div>
            <div data-bind="dxButton: { text: 'For Production', onClick: function() { document.location.href = $root.jsonUrl() + '/Zip/Production' } }"></div>
            <a href="https://www.youtube.com/v/1UwO8HvLdqo?start=4.7&rel=0" target="_blank"><!-- ko dxIcon: "tips" --><!-- /ko -->How to build the app.</a>
        </div>
        <h3>Native App</h3>
        <div>
            <div data-bind="dxButton: { text: 'For Android', onClick: function(e) { deployPopoverNotReadyHandler(e, 'android'); } }"></div>
            <div data-bind="dxButton: { text: 'For iOS', onClick: function(e) { deployPopoverNotReadyHandler(e, 'ios'); } }"></div>
        </div>
        <h3>Web App</h3>
        <div>
            <div data-bind="dxButton: { text: 'Universal Web App', onClick: function(e) { deployPopoverNotReadyHandler(e, 'web'); } }"></div>
        </div>
    </div>
    <script>
        function moreProviderItemClickHandler(e) {
            if (window.ga) {
                ga("send", "event", "Buttons", "Data Provider", e.itemData);
            }
            DevExpress.ui.notify({
                message: "We are sorry, you've found a feature that's not ready yet. So far we're collecting statistics to estimate the demand for various features, which helps us implement the most popular features first. Your vote has been counted.",
                displayTime: 10000,
                closeOnClick: true,
                closeOnOutsideClick: true,
                position: {
                    of: e.itemElement,
                    collision: "flipfit"
                }
            });
            AppDesigner.utils.moreProvidersPopover.visible(false);
        }
    </script>
    <div class="more-data-providers-popover" data-bind="dxPopover: AppDesigner.utils.moreProvidersPopover">
        <div data-bind="dxList: {
             items: ['Offline Data', 'Appery', 'Firebase', 'Google Spreadsheet', 'Office 365 Spreadsheet', 'Salesforce Platform', 'SAP ERP', 'SAP CRM'],
             onItemClick: function(e) { moreProviderItemClickHandler(e); },
             showDeleteControls: false,
             showReorderControls: false,
             showSelectionControls: false,
             selectionMode: 'none'
            }"></div>
    </div>
</div>