<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.propertycross.android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PropertyCrossTheme"
        android:name=".views.PropertyFinderApplication">
        <activity
            android:name="com.propertycross.android.views.PropertyFinderView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.propertycross.android.views.SearchResultsView"
            android:screenOrientation="portrait"/>
        <activity android:name="com.propertycross.android.views.PropertyView"
            android:screenOrientation="portrait"/>
        <activity android:name="com.propertycross.android.views.FavouritesView"
            android:screenOrientation="portrait"/>
    </application>

</manifest>