/**
 * @member Ext.form.FieldSet
 */

.x-form-fieldset-inner {
    border-width: 0 !important;
    padding: 3px;
}

.x-form-fieldset-title {
    font-weight: normal;
    font-size: 14px;
    padding: 2px 10px;
    border-top: 1px solid #CBCBCB;
    border-bottom: 2px solid #0AA9DC;
    @include background(linear-gradient(color-stops(#FEFEFE, #DDDDDD)));
}

.x-form-fieldset-instructions {
    font-size: 14px;
    padding: 10px 0;
}
