<div class="desktop-layout" data-options="dxLayout : { name: 'desktop', platform: 'desktop' } " >
    <div class="page">
        <div class="wrapper">
            <header>
                <div class="logo" />
            </header>
        </div>
        <div class="main-menu">
            <div class="wrapper">
                <nav id="navBar" data-bind="dxNavBar: { }" data-options="dxCommandContainer : { locations: [{'name':'navigation'}] } " ></nav>
            </div>
        </div>
        <div class="toolbar">
            <div class="wrapper">
                <div data-bind="dxToolbar: { items: [{ text: title, align: 'left' }]}"
                    data-options="dxCommandContainer : { locations: [
                        {'name':'create','showIcon':false,'align':'right'},
                        {'name':'edit','showIcon':false,'align':'right'},
                        {'name':'save','showIcon':false,'align':'right'},
                        {'name':'delete','showIcon':false,'align':'right','defaultCommandOptions':{'type':'danger'}},
                        {'name':'cancel','showIcon':false,'align':'right'}] } " >
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="content-wrapper">
                <div class="content" data-options="dxContentPlaceholder : { name: 'content', transition: 'none' } " ></div>
            </div>

            <div class="footer-gap"></div>
        </div>
        <footer>
            <div class="wrapper copyright">2013&nbsp;&copy;&nbsp;Copyright Text</div>
        </footer>
    </div>
</div>
