.desktop-layout {
    width: 100%;
    height: 100%;
}

.desktop-layout .wrapper {
    margin: 0 auto;
    width: 800px;
}

.desktop-layout .page {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.desktop-layout header {
    height: 60px;
}

.desktop-layout header .logo {
    height: 60px;
    width: 104px;
    background: url(../../images/logo.png) no-repeat;
}

.desktop-layout .main-menu {
    background: #2b2b2b;
    width: 100%;
    height: 37px;
}

.desktop-layout .toolbar {
    background: #efefef;
    height: 80px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 35px;
}

.desktop-layout #navBar .dx-icon {
    display: none;
}

.desktop-layout #navBar .dx-tab {
    padding: 7px 30px 6px;
}

.desktop-layout #tabs {
    width: 100%;
    text-align: center;
}

.desktop-layout #tabs .dx-tab {
    padding: 5px 30px;
}

.desktop-layout .half-content {
    float: left;
    width: 45%;
    margin: 0;
    padding: 0;
}

.desktop-layout .half-content:first-child {
    padding: 0 10% 0 0;
}

.desktop-layout .footer-gap {
    height: 40px;
}

.desktop-layout footer {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.desktop-layout footer .copyright {
    color: #818181;
}

.desktop-layout .dx-button {
    min-width: 110px;
}

.desktop-layout .dx-field {
    position: static;
}

.desktop-layout .dx-toolbar .dx-toolbar-left .dx-toolbar-item:first-child {
    margin: 0;
}

.desktop-layout .dx-toolbar .dx-toolbar-right .dx-toolbar-item {
    margin: 0 0 0 8px;
}

.desktop-layout .dx-toolbar .dx-toolbar-label {
    padding: 15px 0;
}