/* Custom App Styling */

/* NOTE: This CSS file is generated via Sass, please edit the scss file and not the css file directly!
    You can compile the style online using http://sass-lang.com/try.html */

#jqt {
    #home {
        .intro {
            margin: 10px;
        }
        .searchTerm {
            display: inline-block;
            max-width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        /* make space for large title */
        .toolbar > h1 {
            width: 200px;
            margin: 1px 0 0 -100px;
        }
    }
    ul.listings  {
        li.listing a {
            display: -webkit-box;
            width: 100%;
        }
        img.thumbnail {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
        .title {
            font-size: 12px; 
        }
        .numResults {
            display: block;
            font-size: 12px;            
        }
        .detail {
            -webkit-box-flex: 1;
            white-space: normal;
        }
    }
    #listingDetail {
        font-size: 18px;
        > div:not(.toolbar) {
            margin: 10px;
            > div {
                margin: 2px 0px;
            }
        }
        img.detailImage {
            width: 100%;
        }
        .roomDetail {
            font-size: 14px;
        }
    }
    .star {
        font-size: 22px;
    }
    img.loading {
        position: absolute;
        right: 15px;
        top: 8px;
    }
}
/* Fix bug in with input box jumping around when typed on Android */

#jqt ul li {
    -webkit-transform: none;
    position: relative;
    a {
        -webkit-transform: none;
    }
}
   