# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### NPM scripts ###
www/assets/angular
www/assets/localforage
www/assets/onsenui
www/assets/lodash

### cordova ###
/platforms
/plugins
/hooks
