# This is the SDK version. By defining this property, we are declaring this
# folder to be an SDK distribution.
framework.name=touch
framework.version=2.1.1.594
framework.classpath=${framework.dir}/src

#------------------------------------------------------

# This is the minimum required Sencha Cmd version:
framework.cmd.minver=3.0.0.141

# This is the current version of the Sencha Cmd at the time of this SDK release:
framework.cmd.version=3.0.2.288
