.favourite-heart {
  color: #ff857e;
}

p, h1, h2, h3, h4 {
  padding-left: 12px;
}

.search-input {
  height: 40px;
}

.search-error {
  color: red;
}

.list-item-container {
  line-height: 1;
  font-size: 14px;
  padding: 15px 0px 15px 15px;
}

.list-item-left {
  width: 60px;
  margin-right: -60px;
  float: left;
}

.list-item-right {
  width: 100%;
  float: right;
}

.list-item-content {
  margin-left: 50px;
  margin-right: 30px;
}

.list-item-image {  
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.list-item-price {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.list-item-description {
  opacity: 0.6;
  line-height: 16px;
}
