<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
	    xmlns:gap="http://phonegap.com/ns/1.0"
	    id="com.propertycross.mgwt"
	    version="1.0.0">

    <name>PropertyCross</name>

    <description>
        Part of the PropertyCross project, the jQuery Mobile implementation.
    </description>

    <author href="http://propertycross.com">
        Colin Eberhardt, Chris Price
    </author>

    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />

    <preference name="phonegap-version"           value="2.1.0" />
    <preference name="target-device"              value="handset" />
    <preference name="orientation"                value="portrait" />
    <preference name="webviewbounce"              value="false" />
    <preference name="prerendered-icon"           value="true" />

    <icon src="assets/icons/icon-72-2x.png" />
    <icon src="assets/icons/36x36.png"              gap:platform="android"    gap:density="ldpi" />
    <icon src="assets/icons/48x48.png"              gap:platform="android"    gap:density="mdpi" />
    <icon src="assets/icons/72x72.png"              gap:platform="android"    gap:density="hdpi" />
    <icon src="assets/icons/96x96.png"              gap:platform="android"    gap:density="xhdpi" />
    <icon src="assets/icons/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="assets/icons/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="assets/icons/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="assets/icons/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />

    <gap:splash src="assets/splashscreens/200x320.png"                      gap:platform="android" gap:density="ldpi" />
    <gap:splash src="assets/splashscreens/320x480.png"                      gap:platform="android" gap:density="mdpi" />
    <gap:splash src="assets/splashscreens/480x800.png"                      gap:platform="android" gap:density="hdpi" />
    <gap:splash src="assets/splashscreens/720x1280.png"                     gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="assets/splashscreens/screen-iphone-portrait.png"       gap:platform="ios"     width="320" height="480" />
    <gap:splash src="assets/splashscreens/screen-iphone-portrait-2x.png"    gap:platform="ios"     width="640" height="960" />

</widget>
