header {

  &.strip {
    margin: 20px 0;
  }

  &.strip h3 {
    vertical-align: middle;
  }

  &.strip small {
    color: @textColor;
    font-family: @sansFontFamily;
    vertical-align: middle;
  }
}

.github-issue-count-button {
  >span {
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}

.screenshots {
  h4>img {
    margin: 0 8px;
    height: 40px;
    width: 40px;
  }
  .btn {
    margin: 13px 0;
  }
  .span3 {
    text-align: center;
  }
  a {
    >img {
      margin: 10px 0;
      border: 1px solid #ccc;
      *border-right-width: 2px;
      *border-bottom-width: 2px;
      .border-radius(6px);
      .box-shadow(0 5px 10px rgba(0,0,0,.2));
    }
  }
}

.others {
  img {
    width: 40px;
    height: 40px;
    margin: 8px 8px 8px 0;
  }
}