@orange: #F27B1F;

@linkColor: @orange;

@sansFontFamily:        "Open Sans", sans-serif;
@serifFontFamily:       "Bree Serif", serif;

@headingsFontFamily:    @serifFontFamily;
@headingsFontWeight:    normal;

@btnPrimaryBackground:                     @orange;
@btnPrimaryBackgroundHighlight:            darken(@btnPrimaryBackground, 10%);