<div data-options="dxView : { name: 'Home', title: 'PropertyFinder' } " >
    <div data-bind="dxCommand: { action: handleFaveClick, location: 'edit', iconSrc: 'images/fav_off.png', title: 'faves', visible: isWinPhone } "></div>
    <div data-bind="dxCommand: { action: handleAboutClick, location: 'edit', icon: 'help', title: 'about', visible: isWinPhone } "></div>

    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxLoadPanel: { visible: loading }"></div>
        
        <div class="elements-block">
            Use the form below to search for houses to buy.
            You can search by place-name, postcode, or click 'My location',
            to search in your current location.
        </div>

        <div class="elements-block">
            <div data-bind="dxTextbox: { value: displayText, enterKeyAction: handleGoClick, valueUpdateAction: handleTextChange, valueUpdateEvent: 'keyup', placeholder: 'Type here...' }"></div>
            <div data-bind="dxButton: { text: 'Search', clickAction: handleGoClick }"></div>
            <div data-bind="dxButton: { text: 'My location', clickAction: handleLocationClick }"></div>
        </div>
        
        <!-- ko if: errorText() -->
        <div class="elements-block">
            <span data-bind="text: errorText"></span>
        </div>
        <!-- /ko -->
        
        <!-- ko if: shouldDisplaySuggestions() -->
        <div class="elements-block">
            <h3>Please select a location below:</h3>
            <div data-bind="dxList: { items: nestoriaSuggestions, itemClickAction: handleSuggestionClick }" class="suggestion-list">
                <div data-options="dxTemplate : { name: 'item' } " class="home-list-item">
                    <span data-bind="text: long_title"></span>
                </div>
            </div>
        </div>
        <!-- /ko -->

        <!-- ko if: shouldDisplayRecentSearches() -->        
        <div class="elements-block">
            <h3>Recent searches:</h3>
            <div data-bind="dxList: { dataSource: recentSearchesSource, itemClickAction: handleRecentSearchesItemClick, scrollingEnabled: false }">
                <div data-options="dxTemplate : { name: 'item' } " class="home-list-item">
                    <span data-bind="text: name"></span>
                    <span data-bind="text: Globalize.format(count, 'n0')" class="last-search-count"></span>
                </div>
            </div>
            
        </div>
        <!-- /ko -->
    </div>
</div>    
