<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="3.1.1-beta2" targetFramework="portable-net45+wp80+win+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.1-beta2" targetFramework="portable-net45+wp80+win+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.1.1-beta2" targetFramework="portable-net45+wp80+win+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.Plugin.File" version="3.1.1-beta2" targetFramework="portable-net45+sl50+win+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.Plugin.Location" version="3.1.1-beta2" targetFramework="portable-net45+sl50+win+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.Plugin.Network" version="3.1.1-beta2" targetFramework="portable-net45+sl50+win+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.1.1-beta2" targetFramework="portable-net45+wp80+win+MonoAndroid10+MonoTouch10" />
  <package id="MvvmCross.PortableSupport" version="3.1.1-beta2" targetFramework="portable-net45+wp80+win+MonoAndroid10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.1-beta1" targetFramework="portable-net45+sl50+win+MonoAndroid10+MonoTouch10" />
</packages>