.empty-layout {
    width: 100%;
    height: 100%;
    position: relative;
}
    .empty-layout > div.content,
    .empty-layout > div.content > div {
        width: 100%;
        height: 100%;
    }

.empty-layout .load-panel.dx-loadpanel-content {
    background: transparent;
    border: none;
}