<div data-options="dxView : { name: 'Details', title: 'Property Details' } " >
    <div data-bind="dxCommand: { action: handleFaveClick, location: 'edit', iconSrc: favesIconSrc, title: favesText } "></div>
    
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <!-- ko with: propertyView -->
        <div class="elements-block">
            <span data-bind="text: price" class="property-price"></span>
            <br />
            <span data-bind="text: title"></span>
        </div>
        <div class="elements-block">
            <img width="100%" data-bind="attr: { src: imageSrc }" />
        </div>
        <div class="elements-block">
            <span data-bind="text: roomInfo"></span>
            <br />
            <span data-bind="text: summary"></span>
        </div>
        <!-- /ko -->
    </div>
</div>