<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/" data-theme="b">

  <div data-role="header" data-position="inline" data-theme="b">
    <h1>PropertyCross</h1>
    <a href="#" class="ui-btn-right" data-icon="grid">Fave</a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="#">Add link here...</a></li>
    </ul>
  </div>

</div>
