<div class="screenshots">

  <div class="row">
    <div class="span9">
      <h4>
        Screenshots <img src="{{ site.baseurl }}/images/{{ platform }}-badge.png" alt="{{ site.platforms[platform] }}" title="{{ site.platforms[platform] }}"/>
      </h4>
    </div>
    <div class="span3">
      {% if page.downloads[platform] %}
      <a href="{{ page.downloads[platform] }}" class="btn btn-large btn-primary">
        Download {{ site.extensions[platform] | upcase }} format
      </a>
      {% else %}
      <button class="btn btn-large disabled" title="Not currently supported, for now you'll need to download the project and build from source" type="button">
        {{ site.extensions[platform] | upcase }} not available
      </button>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <a href="{{ site.baseurl }}/screenshots/{{ page.framework }}/{{ platform }}/PropertyCross.png">
        <img src="{{ site.baseurl }}/screenshots/{{ page.framework }}/{{ platform }}/PropertyCross.thumbnail.png"/>
      </a>
    </div>
    <div class="span3">
      <a href="{{ site.baseurl }}/screenshots/{{ page.framework }}/{{ platform }}/SearchResults.png">
        <img src="{{ site.baseurl }}/screenshots/{{ page.framework }}/{{ platform }}/SearchResults.thumbnail.png"/>
      </a>
    </div>
    <div class="span3">
      <a href="{{ site.baseurl }}/screenshots/{{ page.framework }}/{{ platform }}/Property.png">
        <img src="{{ site.baseurl }}/screenshots/{{ page.framework }}/{{ platform }}/Property.thumbnail.png"/>
      </a>
    </div>
    <div class="span3">
      <a href="{{ site.baseurl }}/screenshots/{{ page.framework }}/{{ platform }}/Favourites.png">
        <img src="{{ site.baseurl }}/screenshots/{{ page.framework }}/{{ platform }}/Favourites.thumbnail.png"/>
      </a>
    </div>
  </div>

</div>

<div class="row">
  <div class="span12">
    <hr/>
  </div>
</div>