<div class="win8phone-layout dx-black-background" data-options="dxLayout : { name: 'simple', platform: 'win8', phone: true, controller: 'win8simple' } " >
    <div class="layout-frame dx-content-background">
        <div class="dx-top-header" data-bind="text: title">Header</div>
        <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content', transition: 'slide' } " >
            <div class="load-panel" data-bind="dxLoadPanel: { visible: true, shading: false, targetContainer: false }"></div>
        </div>
    </div>
    <div data-bind="dxToolbar: { items: [], visible: false }" class="layout-toolbar-bottom semi-hidden"
        data-options="dxCommandContainer : { locations: [
            {'name':'create', 'align':'center'},
            {'name':'edit', 'align':'center'},
            {'name':'save', 'align':'center'},
            {'name':'cancel', 'align':'center'},
            {'name':'delete', 'align':'center'}
        ] } " >
    </div>
</div>
