@namespace s "library://ns.adobe.com/flex/spark";
@namespace view "view.*";
@namespace mx "library://ns.adobe.com/flex/mx";

s|ActionBar
{
    titleAlign: center;
}
s|List
{
    backgroundColor: #ffffff;
    contentBackgroundAlpha: 0;
}

.descriptionText
{
    fontSize: 13;
}

.recentSearches,
.locations
{
    backgroundColor: #ffffff;
    contentBackgroundAlpha: 0;
    borderColor: #cccccc;
    borderVisible: true;
    borderAlpha: 1;
    skinClass: ClassReference("com.propertycross.RecentSearchListSkin");
    fontSize: 13;
}
.recentSearchesCount
{
    color: #888888;
}

.propertyListItemValue
{
    fontSize: 13;
}
.propertyListItemTitle
{
    fontSize: 13;
    color: #888888;
}

.propertyTitle
{
    fontSize: 24;
}

@media (os-platform: "IOS")
{
    s|ActionBar
    {
        defaultButtonAppearance: beveled;
    }
}