/**
 * @member Ext.field.Field
 */

.x-field {

}

.x-form-label {
    color: #292429;
    font-size: 16px;
    padding: 0 3px;
    line-height: 50px;

    span {
        font-weight: normal;
    }
}

.x-field-input {
    padding: 6px 3px;
}

.x-field-clearable .x-field-input {
    padding-right: 3px;
}

.x-field-input .x-clear-icon {
    top: 12px;
    right: 8px;
    background: theme_image('bb10', "clear_icon.png") no-repeat;
    width: 24px;
    height: 24px;

    &.x-pressing {
        background-position: top right;
    }
}

.x-input-text,
.x-input-url,
.x-input-email,
.x-input-number,
.x-input-password,
.x-spinner-button {
    padding: 9px 5px;
    border: 1px solid #C7C7C7;
    background-color: #ffffff;
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 0px 0 #f0f0f0);

    .x-field-focused & {
        border-color: $base-color;
        @include box-shadow(0 0 0 1px $base-color);
    }

    &::-webkit-input-placeholder {
        font-style:italic;
    }
}
