---
layout: default
title: Helping you select a cross-platform mobile framework
---
<header class="jumbotron">
  <img src="{{ site.baseurl }}/images/logo.png" alt="{{ site.name }}" title="{{ site.name }}"/>

  <h1>
    Property<i>Cross</i>
  </h1>

  <p class="lead">
    Helping you <b>select</b> a cross-platform mobile framework
  </p>

  <a href="{{ site.githuburl }}/archive/master.zip" class="btn btn-large btn-primary" type="button">Download the project</a>
  <a href="{{ site.githuburl }}/" class="btn btn-large btn-primary" type="button">View Project on github</a>
</header>

<div class="row">
  <div class="span6">
    <h4>
      Introduction
    </h4>
    {% capture introduction %}{% include introduction.md %}{% endcapture %}
    {{ introduction | markdownify }}
  </div>
  <div class="span6 overview">
    <h4>
      Frameworks
    </h4>

    <table class="table">
      <tbody>
      {% for post in site.posts reversed %}
      <tr>
        <td><img src="{{ site.baseurl }}/framework-icons/{{ post.framework }}-complete.png" alt="{{ post.title }}" title="{{ post.title }}"/></td>
        <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
        <td>
          {% if post.platforms contains 'android' %}
          <img src="{{ site.baseurl }}/images/android-badge.png" alt="{{ site.platforms.android }}" title="{{ site.platforms.android }}"/>
          {% endif %}
        </td>
        <td>
          {% if post.platforms contains 'ios' %}
          <img src="{{ site.baseurl }}/images/ios-badge.png" alt="{{ site.platforms.ios }}" title="{{ site.platforms.ios }}"/>
          {% endif %}
        </td>
        <td>
          {% if post.platforms contains 'windowsphone' %}
          <img src="{{ site.baseurl }}/images/windowsphone-badge.png" alt="{{ site.platforms.windowsphone }}" title="{{ site.platforms.windowsphone }}"/>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12">
    <hr/>
  </div>
</div>

<div class="row">
  <div class="span6">
    {% capture descriptionLeftColumn %}{% include description-left-column.md %}{% endcapture %}
    {{ descriptionLeftColumn | markdownify }}
  </div>
  <div class="span6">
    {% capture descriptionRightColumn %}{% include description-right-column.md %}{% endcapture %}
    {{ descriptionRightColumn | markdownify }}
  </div>
</div>


