.view.listing {
  text-align: center;
  .column {
    vertical-align: middle;
  }
  .image {
    margin: 2em auto;
    width: 160px;
    height: 120px;
    background-repeat: no-repeat;
  }
  .price {
    font-weight: 700;
    font-size: 3em;
    margin-top: 0.25em;
  }
  .bed-bath {
    margin-left: 3em;
    font-family: 'Helvetica Neue', 'Helvetica';
    .bed {
      font-size: 1.5em;
    }
    .bed-num,
    .bath-num {
      font-size: 3em;
    }
  }
}