<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
	    xmlns:gap="http://phonegap.com/ns/1.0"
	    id="com.propertycross.jquerymobile.android"
	    version="1.0.0">

    <name>Property Cross</name>

    <description>
        Part of the PropertyCross project, the Android version of the jQuery Mobile implementation.
    </description>

    <author href="http://propertycross.com">
        Colin Eberhardt, Chris Price
    </author>

    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />

    <preference name="phonegap-version"           value="2.1.0" />
    <preference name="orientation"                value="portrait" />
    <!--Not yet supported - https://github.com/phonegap/build/issues/42-->
    <!--<preference name="auto-hide-splash-screen"    value="false" />-->

    <!--Issue with incorrect icon - https://github.com/phonegap/build/issues/9-->
    <icon src="assets/icons/96x96.png" />
    <icon src="assets/icons/36x36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="assets/icons/48x48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="assets/icons/72x72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="assets/icons/96x96.png"   gap:platform="android"    gap:density="xhdpi" />

    <gap:splash src="assets/splashscreens/200x320.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="assets/splashscreens/320x480.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="assets/splashscreens/480x800.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="assets/splashscreens/720x1280.png" gap:platform="android" gap:density="xhdpi" />

</widget>
