.DS_Store

/libs/atnotate/atnotate.pyc
.idea

/src/android/.classpath
/src/android/.project
/src/android/bin/*
/src/android/gen/*

/src/ios/App.xcodeproj/project.xcworkspace/xcuserdata/*
/src/ios/App.xcodeproj/xcuserdata/*
/src/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*

/node_modules
/docs
/pkg
/package
/tmp
/build
/log

.tern-port
