WindowsPhone/PropertyFinder.suo
WindowsPhone/packages/SilverlightToolkitWP.4.2012.6.25
WindowsPhone/packages/Newtonsoft.Json.4.5.9
WindowsPhone/PropertyFinder/obj
WindowsPhone/PropertyFinder/bin
WindowsPhone/packages/SilverlightToolkitWP.4.2012.10.9
WindowsPhone/packages/Newtonsoft.Json.4.5.10
WindowsPhone/PropertyFinder/Toolkit.Content

iphone/PropertyFinder/bin
iphone/PropertyFinder/obj